.explore{
    display: flex;
    justify-content: center;
    margin-top: 5%;
}
.text{
    margin-top: 20%;
    margin-left: 3%;
}
.text2{
    color: grey;
}
.see-more{
    background-color: #ffcc05;
    padding: 10px 20px;
    font-weight: 600;
    border: none;
}
.see-more:hover{
    background-color: gray;
    color: honeydew;
}

@media only screen and (max-width: 700px){
    .explore{
        grid-template-columns: repeat(1, 1fr);
    }
    }